<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/header') %>
</head>

<body>
    <%- include ('../../partials/navbar') %>
        <div class="container">
            <hr>
            <h2>Categories</h2>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Slug</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tr>
                    <th>1</th>
                    <th>Dev Web</th>
                    <th>dev-web</th>
                    <th></th>
                </tr>
            </table>
        </div>

</body>
<%- include ('../../partials/footer') %>

</html>