<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/header') %>
</head>

<body>
    <%- include ('../../partials/navbar') %>
        <div class="container">
            <div class="card mt-5">
                <div class="card-header">
                    <h2>Creating User</h2>
                </div>
                <div class="card-body">
                    <form method="post" action="/users/create">
                        <input class="form-control" name="login" type="email" placeholder="user@domain.com"><br>
                        <input type="password" class="form-control" name="password" placeholder="*******"><br>
                        <button type="submit" class="btn btn-success btn-block">Create</button>
                    </form>
                </div>
            </div>

        </div>
</body>

<%- include ('../../partials/footer') %>

</html>